<h1>Edit photo</h1>

<form action="http://localhost:3000/update_photo/<%= @photo.id %>">
  <div>
  <label for="new_caption">Caption:</label>
    <input id="new_caption" type="text" name="the_new_caption" value="<%= @photo.caption %>">
  </div>

  <div>
    <label for="new_image_url">Image URL:</label>
    <input id="new_image_url" type="text" name="the_new_source" value="<%= @photo.source %>">
  </div>

  <div>
    <button>Update Photo</button>
  </div>

</form>
